.header {
  background-color: blue;
  display: flex;
  flex-direction: row;
  margin: 0;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  /* gap: 2rem; */
  /* padding: 0 2rem 0 2rem; */
}

.runIcon {
  background-color: red;
  height: 50px;
}

.userHello {
  font-size: 50px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
}

.navBar {
  background-color: green;
}

.profilePicture {
  background-color: yellow;
  height: 50px;
  width: 50px;
  border-radius: 100%;
}
