.header {
  --headerHeight: 100px;
  /* background-color: blue; */
  display: flex;
  flex-direction: row;
  margin: 0;
  width: 100%;
  height: var(--headerHeight);
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
  /* padding: 0 0 rem; */
}

.runIcon {
  /* background-color: red; */
  height: 50px;
}

.logsIcon {
  height: 50px;
}

.userHello {
  font-size: 40px;
  font-weight: bold;
  height: 100%;
  /* color: white; */
  padding: 0 1rem 0 1rem;
  border-radius: 1rem;
  background: rgb(21, 21, 21);

  display: flex;
  flex-direction: row;
  /* background-color: dodgerblue; */
  align-items: center;
  /* gap: 1rem; */
}

.navBar {
  background: rgb(21, 21, 21);
  flex: 1;
  border-radius: 1rem;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

/* create a variable with 100px and use it in the height and width of the profile picture */

.profilePicture {
  background: rgb(21, 21, 21);
  height: var(--headerHeight);
  width: var(--headerHeight);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pictureWrapper {
  display: flex;
  --pictureSize: 80%;
  width: var(--pictureSize);
  height: var(--pictureSize);
  border-radius: 100%;
  overflow: hidden;
  background-color: dodgerblue;
}

.ownProfile {
  background: dodgerblue;
}

.button {
  background: rgb(39, 39, 39);
  height: 75px;
  width: 75px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.button:active {
  background: #2d2d2d;
  transform: scale(0.9);
}
